
:root {

    --step--2: clamp(0.78rem, calc(0.71rem + 0.38vw), 1.00rem);
    --step--1: clamp(0.94rem, calc(0.83rem + 0.54vw), 1.25rem);
    --step-0: clamp(1.13rem, calc(0.97rem + 0.76vw), 1.56rem);
    --step-1: clamp(1.35rem, calc(1.14rem + 1.05vw), 1.95rem);
    --step-2: clamp(1.62rem, calc(1.33rem + 1.43vw), 2.44rem);
    --step-3: clamp(1.94rem, calc(1.56rem + 1.93vw), 3.05rem);
    --step-4: clamp(2.33rem, calc(1.82rem + 2.58vw), 3.82rem);
    --step-5: clamp(2.80rem, calc(2.11rem + 3.42vw), 4.77rem);
}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* outline: 1px solid greenyellow; */
}

/** Framework */

.container {

    margin: 0 auto;
    padding: 0 15px;
}

/* Small */

@media (min-width: 768px) {

    .container {
        width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {

    .container {
        width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {

    .container {
        width: 1170px;
  }
}

a {

    text-decoration: none;
    color: #fff;
}

.flex {

    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {

    width: 100%;
}

.sec {

    padding: 50px 0;
    min-height: 100vh;
    background-image: linear-gradient(to left, #1d2c59 , #3F1D5A);
}

.info {

    font-size: .58em;
    width: 71vw;
    margin: 10px auto 0;
    opacity: .56;
    max-width: 100%;
}

/** The Styling  */

body , html {

    overflow-x: hidden;
}

body {

    min-height: 100vh;
    font-size: var(--step-0);
    font-family: sans-serif;
    color: #fff;
}

@media (max-width: 380px) {

    body {
        font-size: var(--step--1);
    }
}

@media (max-width: 313px) {

    body {
        font-size: var(--step--2);
    }
}

/* header {

    text-align: center;
    padding: 20px;
}

header > main {

    font-size: 3vw;
    display: flex;
    justify-content: center;
    gap: 7vw;
} */

.home {

    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: rgb(0 0 0 / 40%);
    /* background-image: linear-gradient(to left, #1d2c5930 , #3f1d5afa); */
}

.home video {
   
    position: absolute;
    z-index: -1;
}

.home main {

    display: flex;
    gap: 90px;
    align-items: center;
}

.home main > div {

    width: 50%;
}

.home main .image {

    width: calc(50% - 90px);
}

.home .text {

    text-transform: uppercase;
}

.home .text .title {

    font-weight: 100;
    font-size: 2.5em;
}

.home .text .sub-title {

    font-weight: 100;
    font-size: 1.2em;
    font-family: cursive;
    margin-top: 14px;
}

@media (max-width: 700px) {
    
    .home main .image {
        display: none;
    }
}

/* The Reviews Section */

.reviews .container {

    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.reviews .container main:first-of-type {
    
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.reviews .container main:last-of-type {

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: center;
}

.reviews .container main:last-of-type .card {

    border: 1px solid #ffffff8a;
    padding: 20px;
}

.reviews .container main:last-of-type .card .name {

    color: red;
}


@media (max-width: 769px) {
    
    .reviews .container {
       flex-direction: column;
    }
    .reviews .container > main {
        width: 100% !important;
    }
}

/* The About Section  */

.about > main {

    display: flex;
    min-height: 100vh;
    align-items: center;
    gap: 50px;
}

.about > main .image {

    width: calc(50% - 50px);
}

.about > main .text {

    width: 50%;
    font-size: 1.6em;
}

.about .info {

    font-family: monospace;
}

@media (max-width: 769px) {
    
    .about .container {
       flex-direction: column;
    }
    .about .container > div {
        width: 100% !important;
    }    
}

/* The FAQs , Services Section  */

.f-s .cards {

    display: grid;                                                 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 30px; 
}

.f-s .card {

    margin: 0 auto;
    width: 300px;
    color: #000;
    padding: 10px;
}

.f-s .card p:first-of-type {

    background-color: red;
    margin: 0;
    padding: 20px;
    opacity: 1;
    font-size: .7em;
}

.f-s .card p:last-of-type {

    font-family: monospace;
    background-color: #ffffffdb;
    margin: 0;
    padding: 20px;
    opacity: 1;
    color: #333;
}

/* Services Section  */

.ser .card {

    background-color: #fff;
    padding: 0;
}

.ser .text {

    padding: 10px;
    text-align: center;
}

.ser .text .title {

    color: red;
}

/* The Footer */

footer {

    font-size: var(--step--1);
    background-size: cover;
    background-image: linear-gradient(to left, #1d2c59 , #3F1D5A);
    background-repeat: no-repeat;
    padding: 16px 0 !important;
    position: relative;
}

footer::before {
    content: "==========================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================";
    width: 90%;
    height: 4px;
    left: -3vw;
    position: absolute;
    top: -60px;
}

footer > main {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px
}

footer > main p:last-of-type {
    
    display: flex;
    align-items: center;
    gap: 10px;
}

footer > main p:last-of-type > span {
    
    font-size: var(--step-1);
}

@media (max-width: 385px) {
    
    footer {
        font-size: var(--step--2);
    }
}